ol, ul {
	list-style: none;
}

@media (max-width: 480px){
    div {
        width: 443px;
        justify-content: center;

    }

    #btn-group-id {
        margin-bottom: 20px;
    }

    .btn-group {
        margin: 0 20px 0 20px auto;
        max-width: 420px;
    }
}