ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 480px) {
    
}

@media (min-width: 768px) {
    .m-p-content {
        display: flex;
        align-items: flex-start;
    }

    .m-content, .p-content {
        padding: 12px;
    }
}