ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px){
    .nav-item {
        text-align: center;
        border-bottom: 1px solid rgb(209, 207, 207);
        width: 30%;
    }

    :last-of-type{
        border: none;
    }
}

@media (min-width: 768px) {
    .m-p-content {
        display: flex;
        align-items: flex-start;
    }

    #top-nav-bar {
        flex-direction: row !important;
        justify-content:flex-start !important;
    }
}